node_modules
.next
out
build
.env*.local
.DS_Store
*.pem
.vercel
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Environment files
.env
.env.local
.env.*.local
.env.production
.env.development
*.tsbuildinfo